.projects-home-container {

}

.section-1-main {
    margin-left: 20px;
}

.section-1-text {
    margin-top: 30px;
    max-width: 60%;
    font-weight: 300;
}

.section-1-text-highlighted {
    font-weight: bold;
}

.projects-text-bars {
    margin-top: 3rem;
}

.section-1-side {
    
}

.section-2-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.projects-container {
    display: flex;
    margin-bottom: 5rem;
}