nav {
    display: flex;
    justify-content: space-between;
    height: 31px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5rem;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    font-size: 1rem;
}

li {
    list-style: none;
    margin: 1rem;
}

a {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

.hamburger-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}
