<div class="container ">
    <div class="d-flex">
        <h1>{{ editMode ? project.title : 'Creazione di un nuovo progetto'}}</h1>
    </div>
    <div class="card p-3">
        <form>
            <div class="row g-3 mb-4">
                <div class="col-4">
                    <label for="titolo-progetto" class="form-label">Titolo</label>
                    <input 
                        [(ngModel)]="project.title"
                        type="text" 
                        class="form-control" 
                        id="titolo-progetto" 
                        name="titolo-progetto">
                </div>
                <div class="col-8">
                    <label for="descrizione-progetto" class="form-label">Descrizione</label>
                    <textarea 
                        [(ngModel)]="project.description"
                        type="text" 
                        class="form-control" 
                        id="descrizione-progetto" 
                        name="descrizione-progetto"></textarea>
                </div>
                <div class="col-12">
                    <label class="form-label" for="photo-image">Immagine thumbnail progetto</label>
                    <input
                        (change)="onImageChange($event)" 
                        class="form-control"
                        id="photo-image"
                        name="photo-image"
                        type="file">
                </div>
                <div class="col-12">
                    @if (previewImageFromFiles) {
                        <img class="w-100" [src]="previewImageFromFiles" alt="preview dell' immagine di copertina del progetto">
                    } @else if (previewUrlFromProject) {
                        <img class="w-100" [src]="previewUrlFromProject" alt="preview dell' immagine di copertina del progetto">
                    } @else {
                        <p>Nessuna immagine da visualizzare</p>
                    }
                </div>
            </div>

            <div class="p-3">
                <button type="button" (click)="submit()" class="btn btn-success float-end" >submit</button>
            </div>
        </form>
    </div>
</div>

