<div class="container ">
    <div class="d-flex">
        <h1>{{ editMode ? project.title : 'Creazione di un nuovo progetto'}}</h1>
    </div>
    <div class="card p-3">
        <form>
            <div class="row g-3 mb-4">
                <div class="col-4">
                    <label for="titolo-progetto" class="form-label">Titolo</label>
                    <input 
                        [(ngModel)]="project.title"
                        type="text" 
                        class="form-control" 
                        id="titolo-progetto" 
                        name="titolo-progetto">
                </div>
                <div class="col-8">
                    <label for="descrizione-progetto" class="form-label">Descrizione</label>
                    <textarea 
                        [(ngModel)]="project.description"
                        type="text" 
                        class="form-control" 
                        id="descrizione-progetto" 
                        name="descrizione-progetto"></textarea>
                </div>
            </div>

            <app-reserved-photos
            [projectId]="projectId"
            ></app-reserved-photos>

            <div class="p-3">
                <button type="button" (click)="submit()" class="btn btn-success float-end" >submit</button>
            </div>
        </form>
    </div>
</div>

