<div class="d-flex justify-content-center">
    <div class="card  w-100">
        <div class="header-container">
            <h1 class="header">Le foto del progetto</h1>
        </div>
        <div class="list-container">
            <table class="table" >
                <thead class="table-dark" >
                    <tr class="">
                        <th>ID</th>
                        <th>Titolo</th>
                        <th>Catturata il</th>
                        <th>Descrizione</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody class="">
                    @if (photos.length < 1) {
                        <tr>
                            <td colspan="100%" class="p-3 text-center">Questo progetto non contiene fotografie</td>
                        </tr>
                    }
                    @for (photo of photos; track $index) {
                        <tr class="">
                            <td class="p-3">{{ photo.id }}</td>
                            <td class="p-3">{{ photo.title }}</td>
                            <td class="p-3">{{ photo.takenAt | date:'dd/MM/yyyy' }}</td>
                            <td class="p-3">{{ photo.description }}</td>
                            <td class="p-3">
                                <i (click)="editPhoto(photo)" class="action-icon fa-solid fa-pen"></i>
                                <i (click)="deletePhoto()" class="action-icon fa-solid fa-trash"></i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="container">
                @if (!isPhotoModalOpen) {
                    <button class="btn btn-success p-1 m-1 float-end mb-3" (click)="addNewPhoto()">Aggiungi foto</button>
                }
            </div>
        </div>
@if (isPhotoModalOpen) {
    <div class="card m-3 p-3">
        <form class="row g-3 mb-4">
            <div class="form-group col-3">
                <label class="form-label" for="titolo-photo">Titolo</label>
                <input 
                    [(ngModel)]="photoToAdd.title"
                    class="form-control" 
                    type="text" 
                    id="titolo-photo" 
                    name="titolo-photo">
            </div>
            <div class="form-group col-3">
                <label class="form-label" for="posto-photo">Scattata il</label>
                <input 
                    [(ngModel)]="photoToAdd.takenAt"
                    class="form-control" 
                    type="date" 
                    id="posto-photo" 
                    name="posto-photo">
            </div>
            <!-- dropdown per selezionare l' ordine della foto -->
            <div class="col-3">
                <label class="form-label" for="order-select">Seleziona l' ordine della foto</label>
                <select class="form-control" name="order-select" id="order-select">
                    <option [value]="1">{{ 1 }}</option>
                    @if (photos.length > 0) {
                        @for (photo of photos; track $index; let i = $index) {
                            <option [value]="i + 2">{{ i + 2 }}</option>
                        }
                    }          
                </select>
            </div>
            <div class="form-group col-3">
                <label class="form-label" for="categoria-photo">Descrizione</label>
                <textarea 
                    [(ngModel)]="photoToAdd.description"
                    class="form-control" 
                    type="text" 
                    id="categoria-photo" 
                    name="categoria-photo"></textarea>
            </div>
            <div class="form-group col-12">
                <label class="form-label" for="photo-image">Fotografia</label>
                <input
                    (change)="onImageChange($event)"
                    class="form-control"
                    id="photo-image"
                    name="photo-image"
                    type="file">
            </div>
            <div class="col-12">
                @if (previewImageFromFiles) {
                    <img class="w-100" [src]="previewImageFromFiles" alt="preview dell' immagine di copertina del progetto">
                } @else if (previewUrlFromProject) {
                    <img class="w-100" [src]="previewUrlFromProject" alt="preview dell' immagine di copertina del progetto">
                } @else {
                    <p>Nessuna immagine da visualizzare</p>
                }
            </div>
        </form>
        <div class="container mt-3">
            <button class="btn btn-success float-end" (click)="addPhotoToList()" >Aggiungi foto al progetto</button>
        </div>
    </div>
}
    </div>
</div>
<button (click)="logFoto()">log foto to add</button>