<div (click)="goToProject()" class="project">
    <div class="project-cover-container">
        <img class="project-cover" src="{{ project.coverImageUrl }}" alt="cover progetto">
    </div>
    <div class="project-text-container">
        <div class="project-header-container" >
            <h3 class="project-header">
                {{ project.title }}
            </h3>
        </div>
        <p class="project-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, non suscipit incidunt deserunt mollitia pariatur animi soluta a magni. Delectus eveniet incidunt facere ducimus quaerat a corporis, ad quibusdam maiores.
        </p>
    </div>
</div>